/*-------------- STYLESHEET USED FOR EASIER READABILITY AND LOOKS --------------*/

.root {
    -fx-background-color: #E0E0E5;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #E5E5E5;
}

.text-field:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #6060FF;
}

.text-field:focused {
    -fx-border-color: #5050E0;
}

.text-field:hover:focused {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #5050E0;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #6060FF;
}

.button:pressed {
    -fx-border-color: #5050E0;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: #505050;
}

.split-pane-divider {
    -fx-background-color: #303030;
    -fx-padding: 3px;
}

.pagination {
    -fx-background-color: transparent;
}

.pagination .pagination-control .left-arrow .right-arrow {
    -fx-font-family: "JetBrains Mono NL";
    -fx-background-color: #303030;
}


#lbTitle {
    -fx-background-color: #303030;
}

#cell {
    -fx-border-color: #202020;
    -fx-border-width: 1px;
}

#gpaneCalendar {
    -fx-border-color: #202020;
    -fx-border-width: 2px;
}

#dateLabel {
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #202020;
}