/*-------------- STYLESHEET USED FOR EASIER READABILITY AND LOOKS --------------*/

.root {
    -fx-background-color: #E0E0E5;
}


/*-------------- TEXT FIELD --------------*/

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #E5E5E5;
}


.text-field:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #6060FF;
}

.text-field:focused {
    -fx-border-color: #5050E0;
}

.text-field:hover:focused {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #5050E0;
}


/*-------------- BUTTON --------------*/

.button {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: #6060FF;
}

.button:pressed {
    -fx-border-color: #5050E0;
    -fx-background-color: transparent;
}

/*-------------- SPLIT PANE --------------*/

.split-pane {
    -fx-background-color: #505050;
}

.split-pane-divider {
    -fx-background-color: #303030;
    -fx-padding: 3px;
}

/*-------------- DATE PICKER --------------*/

.date-picker {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: #FFFFFF;
}

.date-picker-popup > * > .spinner > .button {
    -fx-border-width: 2px;
}

.date-picker-popup > * > .spinner > .button:pressed {
    -fx-border-color: #5050E0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #303030;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: #303030;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: #303030;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #606060;
}

.date-picker-popup > * > .date-cell:hover {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .next-month {
    -fx-text-fill: #808080;
}

.date-picker-popup > * > .previous-month {
    -fx-text-fill: #808080;
}

.date-picker-popup > * > .today {
    -fx-background-color: #5050E0;
}

.date-picker > .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.date-picker > .button {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.date-picker:focused > .text-field {
    -fx-border-color: #5050E0;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
}

/*-------------- LIST VIEW --------------*/

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: #6060FF;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #E5E5E5;
}

.list-cell {
    -fx-background-color: #505050;
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #E5E5E5;
}

.list-cell:odd {
    -fx-background-color: #454545;
}

.list-cell:selected {
    -fx-background-color: #5050E0;
}

.list-cell:hover {
    -fx-background-color: #606060;
}

.calendar-button .calendar-button:hover .calendar-button:pressed {
    -fx-font-size: 24px;
}

/*-------------- IDS --------------*/

#lbTitle {
    -fx-background-color: #303030;
}

#cell {
    -fx-border-color: #202020;
    -fx-border-width: 1px;
}

#gpaneCalendar {
    -fx-border-color: #202020;
    -fx-border-width: 2px;
}

#dateLabel {
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #202020;
}

#todayDateLabel {
    -fx-font-family: "JetBrains Mono NL";
    -fx-text-fill: #000000;
    -fx-background-color: #B0B0FF;
    -fx-border-color: #B0B0FF;
    -fx-border-width: 2px;
}

#eventNotificationLabel {
    -fx-font-family: "JetBrains Mono NL";
    -fx-font-size: 10px;
    -fx-text-fill: #EE3030;
}

#btnDelete {
    -fx-text-fill: #DD3030;
    -fx-font-size: 16px;
    -fx-border-color: #B01818;
}